<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
    <link rel="'stylesheet" href='/examples/styles/style.css'>
</head>
<body>
<% include blocks/header.ejs %>
<style>
    body{background-color: beige}
    h1 {
        color: darkorchid;
        font-size: 2em}
    p{
        color: darkgreen;
        font-size: 1.1em}
</style>
</body>
<center><h1> Your page</h1>
    <p><b>Email: </b> <%= data.email %> <br>
        <b>is Checked :</b> <%= data.check %>
         </p> </center>
</html>