<footer class="footer">
    <div class="container" style="color: white">
        <strong>
        444 Life.
        </strong>
    </div>
</footer>
<script src="javascript/jquery.min.js"></script>
<script src="<%= assetFingerprint('/script/script.js') %>"></script>
</body>

</html>
