
<div class="sidebar">
    <div class="box auth">
        <% if(!user.id && !user.login) { %>

        <form method="post" class="login">
        <h2>Log In</h2>
            <div class="form-group">
                <label for="login-login">Login</label>
                <input type="text" id="login-login" name="login" />
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" />
            </div>

            <button class="login-button button">Log In</button>

            <button class="switch-button secondary-inverse">Sign Up</button>
        </form>
        <form method="post" class="register">
            <h2>Sign Up</h2>
            <div class="form-group">
                <label for="register-login">Login</label>
                <input type="text" id="register-login" name="login" />
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                <input type="password" id="register-password" name="password" />
            </div>
            <div class="form-group">
                <label for="register-confirm-password">Confirm password</label>
                <input type="password" id="register-password-confirm" name="passwordConfirm" />
            </div>
           <%/*
            <div class="form-group">
                <label for="register-email">Email</label>
                <input type="email" id="register-email" name="email" />
            </div>
            */%>
            <button class="register-button button">Sign Up</button>
            <button class="switch-button secondary-inverse">Log In</button>
        </form>
            <% } else { %>
                <p>
                    Welcome, <%= user.login %>! <a href="/api/auth/logout">Exit</a>
                </p>
            <% } %>
    </div>
    <div class="box">Plugins</div>
</div>