.auth {
  display: flex;
  flex-direction: column;
  font-style: italic;
  border-left: white;
  h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.7em;
  }

  form {
    .buttons {
      display: flex;

    }
  }
  .register{
    display: none;
  }
}