<% include layout/header.ejs%>
<h1><strong>ERROR 404</strong></h1>
<div style="text-align: left;"><p>Page not found</p></div>
<a href="/create">Add</a>
<ul>
    <% posts.forEach(function(post){ %>
        <li>
            <b>
                <%= post.title %>
            </b>
            <br>
            <%= post.body %>
        </li>
        <br>
    <% }); %>
</ul>
</div>
<% include layout/footer.ejs%>